Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

fix: standalone download - remove two-stage logic and rename assets
  .github/workflows/scripts/create-github-release.sh
  .github/workflows/scripts/create-release-packages.sh
  build-docs/CONTRIBUTING-AGENTS.md
  pyproject.toml
  src/flowspec_cli/__init__.py
  tests/test_github_auth.py
  tests/test_multi_agent.py
Due: flowspec-security-scan

doc
  build-docs/REQ-claude-code-skill-integration.md
Due: none

chore: release v0.4.004
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

refactor(rules): extract rules to modular .claude/rules/ architecture
  .claude/rules/agents.md
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/performance.md
  .claude/rules/rigor.md
  .claude/rules/security.md
  .claude/rules/testing.md
Due: none

feat(commands): decompose /flow:implement into composable commands
  .claude/commands/flow/build.md
  .claude/commands/flow/gate.md
  .claude/commands/flow/implement.md
  .claude/commands/flow/pre-pr.md
  .claude/commands/flow/review.md
  .claude/commands/flow/rigor.md
  tests/test_flowspec_implement_backlog.py
Due: sync-copilot-agents, flowspec-security-scan

fix: address Copilot review feedback for rules extraction
  .claude/rules/git-workflow.md
  .claude/rules/security.md
Due: none

fix: add comment explaining security-reviewer checklist difference
  .claude/agents/security-reviewer.md
  .flowspec/logs/events/2026-01-24.jsonl
  templates/agents/security-reviewer.md
Due: none

fix(commands): address Copilot review feedback for implement decomposition
  .claude/commands/flow/build.md
  .claude/commands/flow/implement.md
  .claude/commands/flow/pre-pr.md
  tests/test_flowspec_implement_backlog.py
Due: sync-copilot-agents, flowspec-security-scan

fix: address Copilot review feedback for modular rules
  .claude/rules/git-workflow.md
  .claude/rules/rigor.md
  .claude/rules/security.md
  .claude/rules/testing.md
Due: none

fix: address Copilot review feedback for decomposed commands
  .claude/commands/flow/implement.md
  .claude/commands/flow/pre-pr.md
Due: sync-copilot-agents

Update CLAUDE.md
  CLAUDE.md
Due: none

Update .claude/rules/security.md
  .claude/rules/security.md
Due: none

Update .claude/rules/rigor.md
  .claude/rules/rigor.md
Due: none

fix: address Copilot review feedback for slim agents
  .claude/agents/security-reviewer.md
  .claude/partials/backlog-task-workflow.md
  .claude/partials/pre-completion-checklist.md
  .flowspec/logs/events/2026-01-24.jsonl
  .gitignore
  templates/agents/security-reviewer.md
  templates/partials/backlog-task-workflow.md
  templates/partials/pre-completion-checklist.md
Due: none

Update .claude/rules/testing.md
  .claude/rules/testing.md
Due: none

fix: address Copilot review feedback v3
  .claude/commands/flow/build.md
  .claude/commands/flow/implement.md
  .claude/commands/flow/pre-pr.md
  .claude/commands/flow/rigor.md
Due: sync-copilot-agents

fix: address Copilot review feedback v3
  tests/test_agent_security_reviewer.py
Due: flowspec-security-scan

fix: clarify that .claude/rules/ are auto-loaded by Claude Code
  CLAUDE.md
Due: none

refactor: slim CLAUDE.md and agent definitions, add backlog tasks
  .claude/agents/backend-engineer.md
  .claude/agents/frontend-engineer.md
  .claude/agents/qa-engineer.md
  .claude/agents/security-reviewer.md
  .claude/rules/coding-style.md
  .claude/rules/critical.md
  .claude/rules/rigor.md
  .gitignore
  CLAUDE.md
  backlog/memory/task-582.md
  backlog/tasks/task-580 - SPEC-001-Decompose-flow-implement-into-composable-commands.md
  backlog/tasks/task-581 - SPEC-011-Slim-CLAUDE.md-to-under-200-lines.md
  backlog/tasks/task-582 - SPEC-006-Extract-rules-to-modular-.claude-rules-architecture.md
  backlog/tasks/task-583 - SPEC-012-Slim-agent-definitions-to-under-100-lines.md
  backlog/tasks/task-584 - SPEC-003-Implement-session-persistence-hooks.md
  backlog/tasks/task-585 - SPEC-005-Implement-strategic-compaction-suggestions.md
  backlog/tasks/task-586 - SPEC-009-Create-standalone-flow-verify-command.md
  backlog/tasks/task-587 - SPEC-002-Implement-flow-orchestrate-command-pattern.md
  backlog/tasks/task-588 - SPEC-004-Implement-continuous-learning-skill.md
  backlog/tasks/task-589 - SPEC-007-Add-model-selection-guidance-rules.md
  backlog/tasks/task-590 - SPEC-008-Convert-hooks-to-Node.js-for-cross-platform-support.md
  backlog/tasks/task-591 - SPEC-013-Create-flow-tdd-command-for-test-driven-development.md
  backlog/tasks/task-592 - SPEC-010-Create-flow-checkpoint-command.md
  backlog/tasks/task-593 - SPEC-014-Create-plugin-architecture-manifest.md
  backlog/tasks/task-594 - SPEC-015-Create-hook-test-suite.md
  docs/specs/flowspec-improvement-executive-summary.md
  docs/specs/flowspec-improvement-specs-v1.md
  templates/agents/backend-engineer.md
  templates/agents/frontend-engineer.md
  templates/agents/security-reviewer.md
  tests/test_agent_backend_engineer.py
  tests/test_agent_frontend_engineer.py
  tests/test_agent_security_reviewer.py
Due: flowspec-security-scan

Update .claude/commands/flow/pre-pr.md
  .claude/commands/flow/pre-pr.md
Due: sync-copilot-agents

fix: address v7 Copilot review comments
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/security.md
  .claude/rules/testing.md
Due: none

fix: address v11 Copilot review comments
  .claude/rules/rigor.md
  .claude/rules/security.md
  .claude/rules/testing.md
Due: none

fix: address Copilot review - use flowspec_cli namespace for monkeypatch
  tests/test_duplicate_install_detection.py
Due: flowspec-security-scan

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
