Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

.pre-commit-config.yaml:

# Pre-commit hook configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Local repository hooks
  - repo: local
    hooks:
      # Dev-setup validation
      # Validates that .claude/commands/ contains ONLY symlinks
      # pointing to templates/commands/ (single-source-of-truth)
      - id: dev-setup-validation
        name: Dev-setup validation
        entry: scripts/bash/pre-commit-dev-setup.sh
        language: script
        always_run: true
        pass_filenames: false
        description: Validate .claude/commands/ symlink structure

      # Sync Claude commands to Copilot agents
      # Auto-syncs .claude/commands/ to .github/agents/ when commands change
      - id: sync-copilot-agents
        name: Sync Copilot agents
        entry: scripts/bash/pre-commit-agent-sync.sh
        language: script
        files: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
        pass_filenames: false
        description: Auto-sync Claude commands to VS Code Copilot agents

      # Security scanning
      # Fast security scan on staged files before commit
      - id: flowspec-security-scan
        name: Flowspec Security Scan
        entry: scripts/bash/pre-commit-security-scan.sh
        language: script
        pass_filenames: false
        stages: [commit]
        files: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
        description: Fast security scan blocking critical vulnerabilities

  # Standard Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

fix: remove /flow:operate from codebase - deployment is outer loop
  .claude/hooks/post-slash-command-emit.py
  .flowspec-plugin.yml
  docs/building/command-mapping-review.md
  memory/flowspec_workflow.yml
  src/flowspec_cli/__init__.py
  tests/test_flowspec_e2e.py
  tests/test_flowspec_workflow_integration.py
  tests/test_init_batch_validation.py
  tests/test_init_validation_prompts.py
  tests/test_workflow_schema.py
  tests/workflow/test_state_guard.py
Due: flowspec-security-scan

fix: detect and warn about duplicate flowspec installations
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: detect and warn about duplicate flowspec installations
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

fix: detect and warn about duplicate flowspec installations
  .flowspec/logs/events/2026-01-03.jsonl
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

chore: release v0.3.0.017
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

chore: release v0.3.018
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: align pyproject.toml version format with __init__.py
  pyproject.toml
Due: none

chore: release v0.3.019
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

chore: release v0.3.019 (#1111)
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: harden release script with version validation
  scripts/release.py
Due: flowspec-security-scan

fix: address Copilot review feedback for release script robustness
  scripts/release.py
Due: flowspec-security-scan

x
  backlog/config.yml
Due: none

feat: add GitHub PR safety hook to prevent merge/update operations
  .claude/hooks/pre-tool-use-github-pr-safety.py
  .claude/hooks/test-github-pr-safety.py
  .claude/hooks/test-hooks.sh
  .claude/settings.json
  .flowspec/github-pr-safety.json
  memory/claude-hooks.md
  src/flowspec_cli/__init__.py
  src/flowspec_cli/safety/__init__.py
  src/flowspec_cli/safety/github_pr.py
Due: flowspec-security-scan

feat: add GitHub PR safety hook to prevent merge/update operations (#1117)
  .claude/hooks/pre-tool-use-github-pr-safety.py
  .claude/hooks/test-github-pr-safety.py
  .claude/hooks/test-hooks.sh
  .claude/settings.json
  .flowspec/github-pr-safety.json
  memory/claude-hooks.md
  src/flowspec_cli/__init__.py
  src/flowspec_cli/safety/__init__.py
  src/flowspec_cli/safety/github_pr.py
Due: flowspec-security-scan

chore: release v0.3.020
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

Update src/flowspec_cli/__init__.py
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

Update templates/.github/agents/flow-plan.agent.md
  templates/.github/agents/flow-plan.agent.md
Due: none

fix: add speckit agent cleanup to both init and upgrade paths
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: remove fake {{INCLUDE:}} syntax and rename Specify to Flowspec
  .claude/commands/arch/decide.md
  .claude/commands/arch/model.md
  .claude/commands/flow/assess.md
  .claude/commands/flow/custom.md
  .claude/commands/flow/implement.md
  .claude/commands/flow/plan.md
  .claude/commands/flow/research.md
  .claude/commands/flow/specify.md
  .claude/commands/flow/submit-n-watch-pr.md
  .claude/commands/flow/validate.md
  src/flowspec_cli/__init__.py
Due: sync-copilot-agents, flowspec-security-scan

fix: remove non-functional {{INCLUDE:}} directives from command files
  .claude/commands/flow/plan.md
  .claude/commands/flow/research.md
  tests/test_flowspec_plan_backlog.py
  tests/test_flowspec_research_backlog.py
Due: sync-copilot-agents, flowspec-security-scan

fix: remove non-functional {{INCLUDE:}} directives from command files (#1125)
  .claude/commands/flow/plan.md
  .claude/commands/flow/research.md
  pyproject.toml
  src/flowspec_cli/__init__.py
  templates/.github/agents/flow-implement.agent.md
  templates/.github/agents/flow-plan.agent.md
  templates/.github/agents/flow-specify.agent.md
  templates/.github/agents/flow-submit-n-watch-pr.agent.md
  templates/.github/agents/flow-validate.agent.md
  tests/test_flowspec_plan_backlog.py
  tests/test_flowspec_research_backlog.py
Due: sync-copilot-agents, flowspec-security-scan

chore: release v0.3.023
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

feat(upgrade-repo): add skills sync to upgrade-repo command
  backlog/tasks/task-579.04 - P0.4-Fix-upgrade-repo-to-sync-.claude-skills-directory.md
Due: none

feat(upgrade-repo): add MCP configuration management
  backlog/tasks/task-579.04 - P0.4-Fix-upgrade-repo-to-sync-.claude-skills-directory.md
Due: none

fix: remove developer-specific absolute paths from security review doc (#1129)
  docs/security/deprecated-cleanup-security-review.md
Due: none

chore: release v0.3.024
  .flowspec/logs/events/2026-01-06.jsonl
  .flowspec/logs/events/2026-01-07.jsonl
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: standalone download - remove two-stage logic and rename assets
  .github/workflows/scripts/create-github-release.sh
  .github/workflows/scripts/create-release-packages.sh
  build-docs/CONTRIBUTING-AGENTS.md
  pyproject.toml
  src/flowspec_cli/__init__.py
  tests/test_github_auth.py
  tests/test_multi_agent.py
Due: flowspec-security-scan
