Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

fix(rigor): address 3 Copilot review comments for validate.md (v4)
  .github/agents/flow-validate.agent.md
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(rigor): address 4 Copilot review comments for specify.md (v4)
  .github/agents/flow-specify.agent.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

docs(prd-template): make examples section required
  src/flowspec_cli/workflow/prd_validator.py
Due: flowspec-security-scan

fix(validate): chain CI commands with && for proper exit status checking
  .github/agents/flow-validate.agent.md
  memory/decisions/task-544.jsonl
  templates/commands/flow/validate.md
Due: sync-copilot-agents

feat(validate): extract and use Feature Validation Plan from PRD/PRP
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(specify): use POSIX-compliant glob check and quote branch names
  .github/agents/flow-specify.agent.md
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

fix: address Copilot review comments
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

docs: clarify Column 2 regex comment
  src/flowspec_cli/workflow/prd_validator.py
Due: flowspec-security-scan

Update src/flowspec_cli/workflow/prd_validator.py
  src/flowspec_cli/workflow/prd_validator.py
Due: flowspec-security-scan

feat(prd): require example references in PRDs (task-498) v16 (#956)
  .github/agents/flow-specify.agent.md
  backlog/tasks/task-498 - claude-improves-again-Require-examples-in-PRDs.md
  src/flowspec_cli/workflow/prd_validator.py
  templates/commands/flow/specify.md
  templates/prd-template.md
  tests/test_prd_validator.py
Due: sync-copilot-agents, flowspec-security-scan

Update .github/agents/flow-validate.agent.md
  .github/agents/flow-validate.agent.md
Due: none

chore(agents): sync Copilot agents after implement.md changes
  .github/agents/flow-implement.agent.md
Due: none

fix(implement): address Copilot review comments
  .github/agents/flow-implement.agent.md
  templates/commands/flow/implement.md
Due: sync-copilot-agents

fix(rigor): address 14 Copilot review comments for implement.md (v4)
  .github/agents/flow-implement.agent.md
  memory/decisions/task-543.jsonl
  templates/commands/flow/implement.md
Due: sync-copilot-agents

fix(rigor): address Copilot review feedback for implement.md (v3)
  .github/agents/flow-implement.agent.md
  templates/commands/flow/implement.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:validate (task-544)
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(rigor): address Copilot review feedback for validate.md (v3)
  .github/agents/flow-validate.agent.md
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:validate (task-544)
  .github/agents/flow-validate.agent.md
  memory/decisions/task-544.jsonl
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

fix(specify): use find instead of ls for robust glob check
  .github/agents/flow-specify.agent.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

fix(rigor-rules): address Copilot review comments
  .github/agents/flow-specify.agent.md
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after validate.md changes
  .github/agents/flow-validate.agent.md
Due: none

fix(validate): replace bash-specific constructs with POSIX alternatives
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(validate): address Copilot review feedback
  .github/agents/flow-validate.agent.md
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after rebase from main
  .github/agents/flow-implement.agent.md
  .github/agents/flow-validate.agent.md
Due: none

fix: address all 20 Copilot review comments (v16)
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

Update .github/agents/flow-implement.agent.md
  .github/agents/flow-implement.agent.md
Due: none

fix(ci): auto-fix agent drift in PRs instead of failing
  .github/workflows/validate-agent-sync.yml
Due: none

feat(rigor): integrate rigor rules into /flow:specify (task-545)
  .github/agents/flow-specify.agent.md
  memory/decisions/task-545.jsonl
  templates/commands/flow/specify.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after rebase from main
  .github/agents/flow-implement.agent.md
  .github/agents/flow-specify.agent.md
Due: none

Update templates/commands/flow/validate.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

feat(validate): extract and use Feature Validation Plan from PRD/PRP
  .github/agents/flow-validate.agent.md
  backlog/tasks/task-497 - claude-improves-again-Enhance-flow-validate-with-Feature-Validation-Plan.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after rebase
  .github/agents/flow-validate.agent.md
Due: none

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
