Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

fix: update backlog __init__.py exports for test compatibility
  .flowspec/logs/events/2025-12-27.jsonl
  build-docs/simplify/SESSION-SUMMARY-20251227.md
  src/flowspec_cli/backlog/__init__.py
Due: flowspec-security-scan

feat: add flexible orchestration infrastructure (~60% complete)
  build-docs/simplify/FAILURE-LEARNINGS.md
  build-docs/simplify/flowspec-loop.md
  build-docs/simplify/inner-loop.png
  build-docs/simplify/inner-outer-loop.png
  flowspec_workflow.yml
  schemas/flowspec_workflow.schema.json
  src/flowspec_cli/workflow/orchestrator.py
  src/flowspec_cli/workflow/rigor.py
  tests/workflow/test_orchestrator.py
Due: flowspec-security-scan

feat(workflow): complete to 100% with auto-executor and demos
  .claude/skills/workflow-executor/SKILL.md
  .flowspec/logs/events/2025-12-27.jsonl
  build-docs/simplify/SESSION-100PCT-COMPLETE.md
  scripts/demo-conditional-workflow.py
  scripts/demo-workflow-execution.py
Due: flowspec-security-scan

feat(phase-2): add CLI integration for /flow:custom command
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

docs: import planning docs from build-docs/simplify
  build-docs/simplify/DO-NOW.md
  build-docs/simplify/FAILURE-LEARNINGS.md
  build-docs/simplify/FLEXIBILITY-MODEL.md
  build-docs/simplify/Inner-Outer-Loop.md
  build-docs/simplify/MISSION.md
  build-docs/simplify/cleaner-flow.png
  build-docs/simplify/flowspec-loop.md
  build-docs/simplify/horrible-flow.png
  build-docs/simplify/iniital-analysis.md
  build-docs/simplify/objective.md
  build-docs/simplify/ouch.png
  build-docs/simplify/rules.md
Due: none

fix(ci): generate missing flow-custom.agent.md for Copilot agent sync
  .github/agents/flow-custom.agent.md
Due: none

chore: release v0.3.012 (#1064)
  CHANGELOG.md
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

log
  .flowspec/logs/events/2025-12-27.jsonl
Due: none

chore: release v0.3.013 (#1066)
  .flowspec/logs/README.md
  .flowspec/logs/active-work/2025-12-19.jsonl
  .flowspec/logs/decisions/2025-12-19.jsonl
  .flowspec/logs/decisions/dec22-sprint-plan.jsonl
  .flowspec/logs/decisions/track-c-sprint-plan-dec22.md
  .flowspec/logs/events/2025-12-26.jsonl
  .flowspec/logs/events/2025-12-27.jsonl
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

cleanup 2
  build-docs/cli/decisions.jsonl
  build-docs/decisions-2025-12-14.jsonl
  build-docs/decisions/docs-ci-fix-2025-12-16.jsonl
  build-docs/decisions/refactor-specify-decisions.jsonl
  build-docs/decisions/task-279-branding-cleanup.jsonl
  build-docs/muckross-work-decisions.jsonl
  dec19-todo.jsonl
  decision-log.jsonl
  docker-security-action-plan.jsonl
  memory/decisions/task-542.jsonl
  memory/decisions/task-543.jsonl
  memory/decisions/task-544.jsonl
Due: none

more
  .github/prompts/flowspec._rigor-rules.prompt.md
  .github/prompts/flowspec.custom.prompt.md
  .github/prompts/flowspec.submit-n-watch-pr.prompt.md
  .github/prompts/spec.analyze.prompt.md
  .github/prompts/spec.checklist.prompt.md
  .github/prompts/spec.clarify.prompt.md
  .github/prompts/spec.configure.prompt.md
  .github/prompts/spec.constitution.prompt.md
  .github/prompts/spec.implement.prompt.md
  .github/prompts/spec.init.prompt.md
  .github/prompts/spec.plan.prompt.md
  .github/prompts/spec.specify.prompt.md
  .github/prompts/spec.tasks.prompt.md
Due: none

docs: add two-tier task management guide (Backlog.md + Beads)
  CLAUDE.md
  backlog/CLAUDE.md
  docs/guides/task-management-tiers.md
Due: none

fix MOre
  .flowspec/logs/events/2025-12-28.jsonl
  backlog/tasks/task-466 - claude-improves-Fix-constitution-placeholder-in-memory-constitution.md.md
  backlog/tasks/task-477 - claude-improves-Enhance-CI-CD-template-with-lint,-security,-coverage.md
  backlog/tasks/task-483 - claude-improves-Add-CODEOWNERS-template.md
  backlog/tasks/task-497 - claude-improves-again-Enhance-flow-validate-with-Feature-Validation-Plan.md
  backlog/tasks/task-498 - claude-improves-again-Require-examples-in-PRDs.md
  backlog/tasks/task-502 - claude-improves-again-Add-Loop-Classification-section-to-PRD-PRP-templates.md
  backlog/tasks/task-503 - claude-improves-again-Add-loop-metadata-to-flow-commands.md
Due: none

fix: address Copilot review feedback for two-tier task management docs
  .beads/README.md
  docs/guides/task-management-tiers.md
Due: none

Update docs/guides/task-management-tiers.md
  docs/guides/task-management-tiers.md
Due: none

chore: mark task-436 as done
  backlog/tasks/task-436 - Move-underscore-partial-commands-out-of-.claude-commands-to-hide-from-user.md
Due: none

docs: add rigor rules reference to critical-rules.md
  memory/critical-rules.md
Due: none

docs: fix rigor rules descriptions per Copilot feedback
  memory/critical-rules.md
Due: none

docs: address Copilot review feedback (iteration 2)
  memory/critical-rules.md
Due: none

docs: remove sed from EXEC-001 fix (matches source)
  memory/critical-rules.md
Due: none

docs: use exact rule titles from source file
  memory/critical-rules.md
Due: none

docs: fix rigor rules reference in critical-rules.md (v5) (#1081)
  backlog/tasks/task-551 - Update-critical-rules.md-with-rigor-rules-reference.md
  memory/critical-rules.md
Due: none

feat: add /vibe command for casual development mode
  .claude/commands/vibe.md
  CLAUDE.md
  templates/commands/vibe.md
Due: sync-copilot-agents

fix: remove duplicate vibe.md files from wrong locations
  .claude/commands/vibe.md
  templates/commands/vibe.md
Due: sync-copilot-agents

docs: strengthen Copilot review success criteria in submit-n-watch-pr
  .github/agents/flow-submit-n-watch-pr.agent.md
  templates/commands/flow/submit-n-watch-pr.md
Due: sync-copilot-agents

docs: add caveat about "Outdated" comments in submit-n-watch-pr (#1085)
  .github/agents/flow-submit-n-watch-pr.agent.md
  templates/commands/flow/submit-n-watch-pr.md
Due: sync-copilot-agents

fo
  .flowspec/logs/events/2025-12-31.jsonl
  backlog/tasks/task-079 - Stack-Selection-During-Init.md
Due: none

feat: Add .mcp.json and VSCode extensions generation to flowspec init
  backlog/tasks/task-471 - claude-improves-Add-CLAUDE.md-scaffolding-to-flowspec-init.md
  backlog/tasks/task-474 - claude-improves-Populate-VSCode-extensions.json-template.md
  backlog/tasks/task-478 - claude-improves-Add-.mcp.json-template.md
  src/flowspec_cli/__init__.py
  templates/mcp-json-template.json
  tests/test_init_templates.py
Due: flowspec-security-scan

test: add return value assertions and docker-compose.yml test
  tests/test_init_templates.py
Due: flowspec-security-scan

refactor: move import json to module level, add return value to generate_vscode_extensions
  src/flowspec_cli/__init__.py
  tests/test_init_templates.py
Due: flowspec-security-scan

fix: remove /flow:operate from codebase - deployment is outer loop
  .claude/hooks/post-slash-command-emit.py
  .flowspec-plugin.yml
  docs/building/command-mapping-review.md
  memory/flowspec_workflow.yml
  src/flowspec_cli/__init__.py
  tests/test_flowspec_e2e.py
  tests/test_flowspec_workflow_integration.py
  tests/test_init_batch_validation.py
  tests/test_init_validation_prompts.py
  tests/test_workflow_schema.py
  tests/workflow/test_state_guard.py
Due: flowspec-security-scan

feat: add --branch flag to init and upgrade-repo commands
  .flowspec/logs/events/2026-01-03.jsonl
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

feat: generate VS Code Copilot agents during flowspec init
  scripts/bash/sync-copilot-agents.sh
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

feat: add --branch flag to upgrade-tools for testing from git branches
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
