Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

.pre-commit-config.yaml:

# Pre-commit hook configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Local repository hooks
  - repo: local
    hooks:
      # Dev-setup validation
      # Validates that .claude/commands/ contains ONLY symlinks
      # pointing to templates/commands/ (single-source-of-truth)
      - id: dev-setup-validation
        name: Dev-setup validation
        entry: scripts/bash/pre-commit-dev-setup.sh
        language: script
        always_run: true
        pass_filenames: false
        description: Validate .claude/commands/ symlink structure

      # Sync Claude commands to Copilot agents
      # Auto-syncs .claude/commands/ to .github/agents/ when commands change
      - id: sync-copilot-agents
        name: Sync Copilot agents
        entry: scripts/bash/pre-commit-agent-sync.sh
        language: script
        files: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
        pass_filenames: false
        description: Auto-sync Claude commands to VS Code Copilot agents

      # Security scanning
      # Fast security scan on staged files before commit
      - id: flowspec-security-scan
        name: Flowspec Security Scan
        entry: scripts/bash/pre-commit-security-scan.sh
        language: script
        pass_filenames: false
        stages: [commit]
        files: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
        description: Fast security scan blocking critical vulnerabilities

  # Standard Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

WIP: dev-setup-now (#852)
  .github/prompts/flowspec._backlog-instructions.prompt.md
  .github/prompts/flowspec._constitution-check.prompt.md
  .github/prompts/flowspec._workflow-state.prompt.md
  .github/prompts/flowspec.assess.prompt.md
  .github/prompts/flowspec.generate-prp.prompt.md
  .github/prompts/flowspec.implement.prompt.md
  .github/prompts/flowspec.init.prompt.md
  .github/prompts/flowspec.intake.prompt.md
  .github/prompts/flowspec.map-codebase.prompt.md
  .github/prompts/flowspec.operate.prompt.md
  .github/prompts/flowspec.plan.prompt.md
  .github/prompts/flowspec.research.prompt.md
  .github/prompts/flowspec.reset.prompt.md
  .github/prompts/flowspec.security_fix.prompt.md
  .github/prompts/flowspec.security_report.prompt.md
  .github/prompts/flowspec.security_triage.prompt.md
  .github/prompts/flowspec.security_web.prompt.md
  .github/prompts/flowspec.security_workflow.prompt.md
  .github/prompts/flowspec.specify.prompt.md
  .github/prompts/flowspec.validate.prompt.md
  .specify/backups/test.py.20251215_004726.bak
Due: none

WIP: task204-look-later
  .github/prompts/flowspec._backlog-instructions.prompt.md
  .github/prompts/flowspec._constitution-check.prompt.md
  .github/prompts/flowspec._workflow-state.prompt.md
  .github/prompts/flowspec.assess.prompt.md
  .github/prompts/flowspec.generate-prp.prompt.md
  .github/prompts/flowspec.implement.prompt.md
  .github/prompts/flowspec.init.prompt.md
  .github/prompts/flowspec.intake.prompt.md
  .github/prompts/flowspec.map-codebase.prompt.md
  .github/prompts/flowspec.operate.prompt.md
  .github/prompts/flowspec.plan.prompt.md
  .github/prompts/flowspec.research.prompt.md
  .github/prompts/flowspec.reset.prompt.md
  .github/prompts/flowspec.security_fix.prompt.md
  .github/prompts/flowspec.security_report.prompt.md
  .github/prompts/flowspec.security_triage.prompt.md
  .github/prompts/flowspec.security_web.prompt.md
  .github/prompts/flowspec.security_workflow.prompt.md
  .github/prompts/flowspec.specify.prompt.md
  .github/prompts/flowspec.validate.prompt.md
  .specify/backups/test.py.20251215_004726.bak
  backlog/tasks/task-204 - Integrate-Event-Emission-into-Backlog-Task-Operations.md
Due: none

feat(events): implement agent event system foundation
  backlog/tasks/task-204 - Integrate-Event-Emission-into-Backlog-Task-Operations.md
  backlog/tasks/task-204.01 - Create-git-hook-to-emit-events-on-backlog-task-file-changes.md
  backlog/tasks/task-204.03 - Contribute-hooks-events-feature-to-upstream-backlog.md.md
  backlog/tasks/task-402 - Task-Memory-Upstream-contribution-to-backlog-CLI-for-hook-support.md
  backlog/tasks/task-485 - Implement-Core-Event-Schema-v1.1.0.md
  backlog/tasks/task-486 - Implement-JSONL-Event-Writer-Library.md
  backlog/tasks/task-487 - Implement-Event-Router-with-Namespace-Dispatch.md
  backlog/tasks/task-504 - Implement-Event-Query-CLI-and-API.md
  backlog/tasks/task-508 - Integrate-Backlog-Operations-with-Event-Emission.md
  build-docs/chamonix-execution-order.md
  build-docs/platform/event-schema-v1.1.0-platform-design.md
  docs/adr/ADR-EVENTS-001-core-schema-design.md
  schemas/events/event-v1.1.0.json
  src/specify_cli/__init__.py
  src/specify_cli/events/__init__.py
  src/specify_cli/events/cli.py
  src/specify_cli/events/handlers.py
  src/specify_cli/events/query.py
  src/specify_cli/events/router.py
  src/specify_cli/events/writer.py
  src/specify_cli/hooks/validators.py
  tests/fixtures/sample_events_v1_1.jsonl
  tests/test_event_query.py
  tests/test_event_router.py
  tests/test_event_schema_v1_1.py
  tests/test_event_writer.py
Due: flowspec-security-scan

fix(git): add worktree directories to .gitignore
  .gitignore
Due: none

docs: Add planning documents for specify-cli to flowspec-cli refactor
  docs/adr/ADR-refactor-specify-to-flowspec.md
  docs/decisions/refactor-specify-decisions.jsonl
  docs/plan/refactor-specify-plan.md
Due: none

docs: Add planning documents for specify-cli to flowspec-cli refactor (#859)
  docs/adr/ADR-refactor-specify-to-flowspec.md
  docs/decisions/refactor-specify-decisions.jsonl
  docs/plan/refactor-specify-plan.md
Due: none

docs(user-docs): Replace specify-cli with flowspec-cli
  user-docs/installation.md
  user-docs/user-guides/backlog-user-guide.md
  user-docs/user-guides/constitution-validation.md
  user-docs/user-guides/release-workflow-fix.md
  user-docs/user-guides/security-cicd-integration.md
  user-docs/user-guides/security-dast.md
  user-docs/user-guides/workflow-customization.md
  user-docs/user-guides/workflow-troubleshooting.md
Due: none

docs: Replace specify-cli with flowspec-cli in root documentation
  .claude-plugin/README.md
  .spec-kit-compatibility.yml
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

docs(build-docs): Replace specify-cli with flowspec-cli
  build-docs/adr/ADR-007-unified-security-finding-format.md
  build-docs/adr/LAYERED-EXTENSION-ARCHITECTURE.md
  build-docs/adr/design-command-migration-path.md
  build-docs/adr/upgrade-commands-plan.md
  build-docs/evaluations/claude-review.md
  build-docs/platform/flowspec-security-platform.md
  build-docs/platform/muckross-security-platform-plan-v2.md
  build-docs/platform/security-cicd-integration.md
  build-docs/prd/MARKETPLACE.md
  build-docs/research/opcode.md
  build-docs/research/spec-kitty.md
  build-docs/research/version-management-research.md
  build-docs/specs/architecture-enhancements-functional.md
Due: none

fix(ci): update workflows for flowspec-cli rename
  .github/workflows/dev-setup-validation.yml
  .github/workflows/version-check.yml
Due: none

WIP: exe-script
  my-host-tasks.sh
Due: none

WIP: exe-script (#867)
  my-host-tasks.sh
Due: none

fix: Update test assertions and regenerate agents
  .github/agents/flow-reset.agent.md
  tests/test_constitution_diff_merge.py
  tests/test_constitution_validate.py
  tests/test_workflow_customization_guide.py
Due: flowspec-security-scan

docs: Replace all 'specify' command references with 'flowspec'
  .devcontainer/README.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  src/CLAUDE.md
  src/flowspec_cli/__init__.py
  templates/commands/flow/reset.md
  user-docs/installation.md
  user-docs/local-development.md
  user-docs/quickstart.md
  user-docs/user-guides/backlog-quickstart.md
  user-docs/user-guides/ci-cd-role-validation.md
  user-docs/user-guides/constitution-distribution.md
  user-docs/user-guides/constitution-troubleshooting.md
  user-docs/user-guides/constitution-validation.md
  user-docs/user-guides/hooks-quickstart.md
  user-docs/user-guides/problem-sizing-assessment.md
  user-docs/user-guides/task-memory-user-guide.md
  user-docs/user-guides/vscode-role-integration.md
  user-docs/user-guides/when-to-use-light-mode.md
  user-docs/user-guides/workflow-architecture.md
  user-docs/user-guides/workflow-customization.md
  user-docs/user-guides/workflow-state-mapping.md
  user-docs/user-guides/workflow-troubleshooting.md
Due: sync-copilot-agents, flowspec-security-scan

Update src/flowspec_cli/__init__.py
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Replace remaining specify references with flowspec in templates
  .github/agents/arch-decide.agent.md
  .github/agents/arch-model.agent.md
  .github/agents/flow-assess.agent.md
  .github/agents/flow-implement.agent.md
  .github/agents/flow-operate.agent.md
  .github/agents/flow-plan.agent.md
  .github/agents/flow-research.agent.md
  .github/agents/flow-security_workflow.agent.md
  .github/agents/flow-specify.agent.md
  .github/agents/flow-validate.agent.md
  .github/agents/speckit-analyze.agent.md
  .github/agents/speckit-tasks.agent.md
  templates/commands/flow/_constitution-check.md
  templates/commands/flow/_workflow-state.md
  templates/commands/flow/assess.md
  templates/commands/flow/implement.md
  templates/commands/flow/operate.md
  templates/commands/flow/plan.md
  templates/commands/flow/research.md
  templates/commands/flow/security_workflow.md
  templates/commands/flow/specify.md
  templates/commands/flow/validate.md
  templates/commands/speckit/analyze.md
  templates/commands/speckit/tasks.md
  templates/docs/security/sarif-output-guide.md
  templates/plan-template.md
  templates/security-rules/README.md
  templates/security-rules/javascript/example-xss.yml
  templates/security-rules/python/example-sql-injection.yml
  templates/skills/constitution-checker/SKILL.md
  templates/skills/security-workflow/SKILL.md
  templates/vscode-settings.json
Due: sync-copilot-agents

feat: Add beads to splash screen and simplify installation
  README.md
  src/flowspec_cli/__init__.py
  tests/test_version_display.py
Due: flowspec-security-scan

fix: Also skip install prompts in non-interactive (non-TTY) mode
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Skip backlog/beads prompts when --no-validation-prompts is used
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Clean up legacy speckit.* files and fix flow/ directory naming
  .github/workflows/scripts/create-release-packages.sh
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

chore: release v0.3.000
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

feat: Add beads to upgrade-tools and branding cleanup (#878)
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

chore: release v0.3.002
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: upgrade-tools installs missing tools, removes spec-kit
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

style: fix formatting in test file
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

chore: release v0.3.003
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Docker vulnerabilities, /spec:constitution refs, Rich markup in prompts (#884)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Docker security vulnerabilities and supply chain attestations
  .devcontainer/Dockerfile
  .github/workflows/docker-publish.yml
  docker-security-action-plan.jsonl
Due: none

fix: Add cryptographic attestation verification
  .github/workflows/docker-publish.yml
  docker-security-action-plan.jsonl
Due: none

fix: Docker vulnerabilities and SLSA provenance attestations
  .devcontainer/Dockerfile
  .github/workflows/docker-publish.yml
  docker-security-action-plan.jsonl
Due: none

docs: Fix JP Spec and specify branding to Flowspec
  CLAUDE.md
  CONTRIBUTING.md
  backlog/tasks/task-279 - Update-documentation-for-new-architecture.md
  build-docs/adr/LAYERED-EXTENSION-ARCHITECTURE.md
  build-docs/adr/design-command-migration-path.md
  build-docs/platform/muckross-security-platform-plan-v2.md
  docs/decisions/task-279-branding-cleanup.jsonl
  user-docs/user-guides/backlog-user-guide.md
  user-docs/user-guides/flowspec-backlog-workflow.md
Due: none
