Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

Update tests/e2e/test_memory_injection_e2e.py
  tests/e2e/test_memory_injection_e2e.py
Due: flowspec-security-scan

fix: address remaining Copilot review comments
  src/flowspec_cli/__init__.py
  tests/test_init_skills.py
Due: flowspec-security-scan

fix: remove unused monkeypatch parameter
  tests/test_init_skills.py
Due: flowspec-security-scan

docs: add analysis of multi-agent installation bug
  no-flow.md
Due: none

chore(backlog): close completed tasks from Dec 22 sprint
  backlog/tasks/task-279 - Update-documentation-for-new-architecture.md
  backlog/tasks/task-377 - Task-Memory-Claude-Code-integration-via-hooks-and-MCP-Phase-3.md
  backlog/tasks/task-386 - Implement-CLAUDE.md-import-Context-Injection.md
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
Due: none

refactor: address all Copilot review feedback
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

chore(backlog): close completed tasks from Dec 22 sprint (#1009)
  backlog/tasks/task-279 - Update-documentation-for-new-architecture.md
  backlog/tasks/task-377 - Task-Memory-Claude-Code-integration-via-hooks-and-MCP-Phase-3.md
  backlog/tasks/task-386 - Implement-CLAUDE.md-import-Context-Injection.md
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
Due: none

docs: move no-flow.md to investigations directory
  docs/investigations/no-flow.md
Due: none

Update .github/agents/flow-submit-n-watch-pr.agent.md
  .github/agents/flow-submit-n-watch-pr.agent.md
Due: none

Update templates/commands/flow/submit-n-watch-pr.md
  templates/commands/flow/submit-n-watch-pr.md
Due: sync-copilot-agents

fix: address all 12 Copilot review comments from PR #1014
  docs/investigations/no-flow.md
  src/flowspec_cli/__init__.py
  tests/test_multi_agent.py
Due: flowspec-security-scan

fix: address copilot comments - variable init, mock logic, docs
  docs/investigations/no-flow.md
  src/flowspec_cli/__init__.py
  tests/test_multi_agent.py
Due: flowspec-security-scan

fix: address all 7 Copilot review comments from PR #1019
  .github/agents/flow-submit-n-watch-pr.agent.md
  templates/commands/flow/submit-n-watch-pr.md
Due: sync-copilot-agents

feat(workflow): add /flow:submit-n-watch-pr command (#1020)
  .claude/commands/flow/submit-n-watch-pr.md
  .github/agents/flow-submit-n-watch-pr.agent.md
  flowspec_workflow.yml
  src/flowspec_cli/workflow/validator.py
  templates/commands/flow/submit-n-watch-pr.md
  tests/test_workflow_config_valid.py
  tests/test_workflow_validator.py
Due: sync-copilot-agents, flowspec-security-scan

docs: add audit of closed PRs requiring review
  broken-pr-todo.md
Due: none

docs: add audit of closed PRs requiring review (#1021)
  broken-pr-todo.md
Due: none

fix: address Copilot review feedback for constitution enforcement
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix(init): address Copilot review feedback for skills deployment
  src/flowspec_cli/__init__.py
  tests/test_init_skills.py
Due: flowspec-security-scan

fix(placeholders): address 13 Copilot review comments
  src/flowspec_cli/__init__.py
  src/flowspec_cli/placeholders.py
  tests/test_placeholders.py
Due: flowspec-security-scan

feat(cli): add CLAUDE.md scaffolding to init (task-471)
  src/flowspec_cli/__init__.py
  templates/claude-md-template.md
  tests/test_claude_md_generation.py
Due: flowspec-security-scan

fix: address Copilot review comments for LLM accuracy tests
  src/flowspec_cli/__init__.py
  tests/test_llm_customization_accuracy.py
Due: flowspec-security-scan

docs: update no-flow.md to reflect multi-agent bug resolution
  no-flow.md
Due: none

test(security): comprehensive test suite for security module
  coverage.json
  tests/test_security_adapters.py
  tests/test_security_orchestrator.py
  tests/test_security_triage.py
Due: flowspec-security-scan

test(security): add comprehensive tests for discovery and risk_scorer modules
  tests/security/adapters/test_discovery.py
  tests/security/triage/test_risk_scorer.py
Due: flowspec-security-scan

test(security): fix Copilot review issues in security test suite
  tests/security/adapters/test_discovery.py
  tests/security/triage/test_risk_scorer.py
  tests/test_security_adapters.py
  tests/test_security_orchestrator.py
  tests/test_security_triage.py
Due: flowspec-security-scan

fix: address Copilot review feedback on skills deployment
  src/flowspec_cli/skills/scaffold.py
  tests/test_skills_deployment.py
Due: flowspec-security-scan

fix: address Copilot review feedback on permissions.deny
  .claude/settings.json
Due: none

Update tests/test_llm_customization_accuracy.py
  tests/test_llm_customization_accuracy.py
Due: flowspec-security-scan

Update .claude/settings.json
  .claude/settings.json
Due: none

docs: address Copilot review feedback for no-flow.md
  no-flow.md
Due: none

feat(init): add skills deployment and --complete flag
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
  docs/guides/flowspec-init-complete-mode.md
  memory/decisions/task-470.jsonl
  src/flowspec_cli/__init__.py
  tests/test_init_skills.py
Due: flowspec-security-scan

fix: address Copilot review comments for skills deployment
  src/flowspec_cli/__init__.py
  tests/test_init_skills.py
Due: flowspec-security-scan

test(cli): add LLM customization accuracy tests (task-293)
  src/flowspec_cli/__init__.py
  tests/test_llm_customization_accuracy.py
Due: flowspec-security-scan

fix: format code with ruff
  src/flowspec_cli/placeholders.py
Due: flowspec-security-scan

fix: strip ANSI codes in help text test
  tests/test_skills_deployment.py
Due: flowspec-security-scan

chore: sync agent file with template
  .github/agents/flow-submit-n-watch-pr.agent.md
Due: none

docs: update no-flow.md to reflect multi-agent bug resolution (#1037)
  no-flow.md
Due: none

fix: security CI/CD workflow improvements (task-248) (#1038)
  docs/guides/security-cicd-setup.md
  docs/guides/security-cicd-validation.md
  docs/platform/security-cicd-implementation.md
  templates/github-actions/README.md
  templates/github-actions/security-config.yml
  templates/github-actions/security-parallel.yml
  templates/github-actions/security-scan.yml
  templates/github-actions/security.yml
Due: none

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
