Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

Update .github/agents/flow-validate.agent.md
  .github/agents/flow-validate.agent.md
Due: none

Update .github/agents/flow-implement.agent.md
  .github/agents/flow-implement.agent.md
Due: none

fix(ci): auto-fix agent drift in PRs instead of failing
  .github/workflows/validate-agent-sync.yml
Due: none

feat(validate): add Feature Validation Plan execution (task-497) v17 (#966)
  .github/agents/flow-validate.agent.md
  backlog/tasks/task-497 - claude-improves-again-Enhance-flow-validate-with-Feature-Validation-Plan.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(rigor): address Copilot review feedback for specify.md (v3)
  .github/agents/flow-specify.agent.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:specify (task-545)
  .github/agents/flow-specify.agent.md
  memory/decisions/task-545.jsonl
  templates/commands/flow/specify.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after rebase from main
  .github/agents/flow-implement.agent.md
  .github/agents/flow-specify.agent.md
Due: none

fix(specify): use find instead of ls for robust glob check
  .github/agents/flow-specify.agent.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after rebase on main
  .github/agents/flow-specify.agent.md
  .github/agents/flow-validate.agent.md
Due: none

fix(ci): auto-fix agent drift in PRs instead of failing (#967)
  .github/workflows/validate-agent-sync.yml
Due: none

Update templates/commands/flow/_rigor-rules.md
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

Update .github/agents/flow-specify.agent.md
  .github/agents/flow-specify.agent.md
Due: none

feat(rigor): integrate rigor rules into /flow:specify (task-545)
  .github/agents/flow-specify.agent.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

Update templates/commands/flow/specify.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

chore: mark task-545 done and fix hook schema format (#972)
  .claude/settings.json
  backlog/tasks/task-545 - Integrate-rigor-rules-into-flow-specify.md
Due: none

feat(docker): Switch to Docker Hardened Images (DHI) for 95%+ CVE reduction
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .github/workflows/docker-publish.yml
Due: none

fix(ci): Fix verify job IMAGE_REF and allow non-main branch failures
  .github/workflows/docker-publish.yml
Due: none

fix(docker): Remove incorrect DHI digest pinning
  .devcontainer/Dockerfile
Due: none

chore: release v0.3.007
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix(claude): import rigor rules for Claude Code users
  CLAUDE.md
  dec19-todo.jsonl
Due: none

refactor(logs): move logs to .flowspec/logs with subdirectories (#979)
  .flowspec/logs/README.md
  .flowspec/logs/active-work/2025-12-19.jsonl
  .flowspec/logs/decisions/2025-12-19.jsonl
  .github/agents/flow-implement.agent.md
  .github/agents/flow-specify.agent.md
  .github/agents/flow-validate.agent.md
  backlog/tasks/task-553 - Add-log-aggregation-combine-daily-logs-into-summaries.md
  backlog/tasks/task-554 - Add-log-analytics-query-logs-for-patterns.md
  backlog/tasks/task-555 - Integrate-.flowspec-logs-with-central-logging-systems.md
  templates/.flowspec/logs/README.md
  templates/.flowspec/logs/active-work/.gitkeep
  templates/.flowspec/logs/decisions/.gitkeep
  templates/.flowspec/logs/events/.gitkeep
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

docs(adr): security scanner architecture decision (task-220)
  TASK-220-FINAL-REPORT.md
  docs/adr/ADR-005-security-scanner-architecture.md
  docs/adr/TASK-220-RESOLUTION-SUMMARY.md
Due: none

feat(cli): improve placeholder handling in init (task-472)
  src/flowspec_cli/__init__.py
  src/flowspec_cli/placeholders.py
  tests/test_placeholders.py
Due: flowspec-security-scan

test(cli): add constitution enforcement integration tests (task-294)
  src/flowspec_cli/__init__.py
  tests/test_constitution_enforcement.py
Due: flowspec-security-scan

test(cli): add LLM customization accuracy tests (task-293)
  src/flowspec_cli/__init__.py
  tests/test_llm_customization_accuracy.py
Due: flowspec-security-scan

feat(security): add permissions.deny rules (task-184)
  .claude/settings.json
Due: none

fix(cli): fix upgrade-tools bug + add version tracking
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

fix(cli): fix upgrade-tools bug + add version tracking (#995)
  src/flowspec_cli/__init__.py
  tests/test_upgrade_commands.py
Due: flowspec-security-scan

docs(adr): security scanner architecture decision (task-220) (#982)
  TASK-220-FINAL-REPORT.md
  docs/adr/ADR-005-security-scanner-architecture.md
  docs/adr/TASK-220-RESOLUTION-SUMMARY.md
Due: none

chore(backlog): Dec 22 sprint planning and task updates
  backlog/tasks/task-216 - Integrate-flow-security-with-Workflow-and-Backlog.md
  backlog/tasks/task-217 - Build-Security-Configuration-System.md
  backlog/tasks/task-219 - Build-Security-Commands-Test-Suite.md
  backlog/tasks/task-220 - Resolve-Relationship-with-task-198-Unified-Vulnerability-Scanner.md
  backlog/tasks/task-223 - Implement-Custom-Security-Rules-System.md
  backlog/tasks/task-225 - Integrate-CodeQL-for-Deep-Dataflow-Analysis.md
  backlog/tasks/task-248 - Setup-CI-CD-Security-Scanning-Pipeline.md
  backlog/tasks/task-250 - Implement-Security-Scanning-Observability.md
  backlog/tasks/task-251 - Create-Pre-commit-Hook-Configuration-for-Security-Scanning.md
  backlog/tasks/task-252 - Implement-Security-Policy-as-Code-Configuration.md
  backlog/tasks/task-253 - Track-DORA-Metrics-for-Security-Scanning.md
  backlog/tasks/task-254 - Build-and-Publish-Security-Scanner-Docker-Image.md
  backlog/tasks/task-279 - Update-documentation-for-new-architecture.md
  backlog/tasks/task-368 - Feature-Task-Memory-Persistent-Context-Management.md
  backlog/tasks/task-386 - Implement-CLAUDE.md-import-Context-Injection.md
  backlog/tasks/task-435 - Add-flowspec-remove-command-to-purge-flowspec-artifacts-from-a-directory.md
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-471 - claude-improves-Add-CLAUDE.md-scaffolding-to-flowspec-init.md
  backlog/tasks/task-472 - claude-improves-Improve-template-placeholder-handling-in-flowspec-init.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
  backlog/tasks/task-481 - claude-improves-Add-deployment-completeness-report-to-flowspec-init.md
  backlog/tasks/task-520 - Implement-Pre-Commit-Quality-Gate-SAST.md
  backlog/tasks/task-542 - Add-JSONL-decision-logging-infrastructure.md
  backlog/tasks/task-543 - Integrate-rigor-rules-into-flow-implement.md
  backlog/tasks/task-544 - Integrate-rigor-rules-into-flow-validate.md
  docs/building/dec22-next.md
Due: none

chore(backlog): Dec 22 sprint planning and task updates (#997)
  backlog/tasks/task-216 - Integrate-flow-security-with-Workflow-and-Backlog.md
  backlog/tasks/task-217 - Build-Security-Configuration-System.md
  backlog/tasks/task-219 - Build-Security-Commands-Test-Suite.md
  backlog/tasks/task-220 - Resolve-Relationship-with-task-198-Unified-Vulnerability-Scanner.md
  backlog/tasks/task-223 - Implement-Custom-Security-Rules-System.md
  backlog/tasks/task-225 - Integrate-CodeQL-for-Deep-Dataflow-Analysis.md
  backlog/tasks/task-248 - Setup-CI-CD-Security-Scanning-Pipeline.md
  backlog/tasks/task-250 - Implement-Security-Scanning-Observability.md
  backlog/tasks/task-251 - Create-Pre-commit-Hook-Configuration-for-Security-Scanning.md
  backlog/tasks/task-252 - Implement-Security-Policy-as-Code-Configuration.md
  backlog/tasks/task-253 - Track-DORA-Metrics-for-Security-Scanning.md
  backlog/tasks/task-254 - Build-and-Publish-Security-Scanner-Docker-Image.md
  backlog/tasks/task-279 - Update-documentation-for-new-architecture.md
  backlog/tasks/task-368 - Feature-Task-Memory-Persistent-Context-Management.md
  backlog/tasks/task-386 - Implement-CLAUDE.md-import-Context-Injection.md
  backlog/tasks/task-435 - Add-flowspec-remove-command-to-purge-flowspec-artifacts-from-a-directory.md
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-471 - claude-improves-Add-CLAUDE.md-scaffolding-to-flowspec-init.md
  backlog/tasks/task-472 - claude-improves-Improve-template-placeholder-handling-in-flowspec-init.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
  backlog/tasks/task-481 - claude-improves-Add-deployment-completeness-report-to-flowspec-init.md
  backlog/tasks/task-520 - Implement-Pre-Commit-Quality-Gate-SAST.md
  backlog/tasks/task-542 - Add-JSONL-decision-logging-infrastructure.md
  backlog/tasks/task-543 - Integrate-rigor-rules-into-flow-implement.md
  backlog/tasks/task-544 - Integrate-rigor-rules-into-flow-validate.md
  docs/building/dec22-next.md
Due: none

feat(init): add skills deployment and --complete flag (#task-470, #task-480)
  backlog/tasks/task-470 - claude-improves-Enhance-flowspec-init-to-deploy-skills-to-.claude-skills-and-.github.md
  backlog/tasks/task-480 - claude-improves-Add-flowspec-init-complete-option.md
  docs/guides/flowspec-init-complete-mode.md
  memory/decisions/task-470.jsonl
  src/flowspec_cli/__init__.py
  tests/test_init_skills.py
Due: flowspec-security-scan

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
