Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

fix: format telemetry files and sync agents
  .github/agents/flow-implement.agent.md
  .github/agents/flow-validate.agent.md
  .github/agents/speckit-configure.agent.md
  src/specify_cli/telemetry/cli.py
  src/specify_cli/telemetry/events.py
  src/specify_cli/telemetry/tracker.py
  tests/test_telemetry.py
Due: flowspec-security-scan

chore(backlog): mark all telemetry tasks as Done
  backlog/tasks/task-366 - Telemetry-Role-Usage-Analytics-Framework.md
  backlog/tasks/task-404 - Telemetry-Configuration-system-with-opt-in-consent.md
  backlog/tasks/task-405 - Telemetry-Event-integration-with-role-system.md
  backlog/tasks/task-406 - Telemetry-CLI-feedback-prompt-with-privacy-notice.md
  backlog/tasks/task-407 - Telemetry-CLI-viewer-for-viewing-and-managing-telemetry-data.md
  backlog/tasks/task-408 - Telemetry-Privacy-utilities-for-PII-hashing-and-anonymization.md
  backlog/tasks/task-409 - Telemetry-Comprehensive-test-suite-and-privacy-verification.md
Due: none

feat(task-473): enable hooks by default in specify init
  src/specify_cli/__init__.py
  src/specify_cli/hooks/scaffold.py
Due: flowspec-security-scan

feat(hooks): add git hook to emit events on backlog task changes
  docs/guides/backlog-git-hooks.md
  scripts/hooks/install-hooks.sh
  scripts/hooks/post-commit-backlog-events.sh
  tests/integration/test_post_commit_backlog_events.sh
Due: none

feat(telemetry): add integration helpers for role and agent tracking
  src/specify_cli/telemetry/__init__.py
  src/specify_cli/telemetry/integration.py
  tests/test_telemetry_integration.py
Due: flowspec-security-scan

fix: move telemetry import to top of file (E402 lint fix)
  src/specify_cli/__init__.py
Due: flowspec-security-scan

docs(design): add git hook integration design for agent sync
  build-docs/design/git-hook-agent-sync-design.md
Due: none

docs: initialize muckross-work branch with decision log
  build-docs/muckross-work-decisions.jsonl
Due: none

chore: assign all muckross-work tasks to @muckross
  build-docs/muckross-work-decisions.jsonl
Due: none

feat(telemetry): add config system, CLI, and slash command hooks
  src/specify_cli/__init__.py
  src/specify_cli/telemetry/__init__.py
  src/specify_cli/telemetry/cli.py
  src/specify_cli/telemetry/config.py
  src/specify_cli/telemetry/integration.py
  templates/commands/flow/implement.md
  templates/commands/flow/validate.md
  templates/commands/speckit/configure.md
  tests/test_telemetry_config.py
  tests/test_telemetry_integration.py
Due: sync-copilot-agents, flowspec-security-scan

chore(backlog): mark task-334 as Done
  backlog/tasks/task-334 - Create-pre-commit-hook-for-agent-sync.md
Due: none

chore(backlog): mark task-328 as Done
  backlog/tasks/task-328 - Design-Git-Hook-Integration-for-Agent-Sync.md
Due: none

chore: mark task-473 as Done
  backlog/tasks/task-473 - claude-improves-Enable-hooks-by-default-in-specify-init.md
Due: none

chore(backlog): mark task-204.01 as Done
  backlog/tasks/task-204.01 - Create-git-hook-to-emit-events-on-backlog-task-file-changes.md
Due: none

fix: Windows encoding for agent sync validation
  .github/workflows/validate-agent-sync.yml
  scripts/bash/sync-copilot-agents.sh
Due: none

Update src/specify_cli/__init__.py
  src/specify_cli/__init__.py
Due: flowspec-security-scan

fix: address Copilot review feedback
  scripts/hooks/post-commit-backlog-events.sh
  src/specify_cli/__init__.py
  src/specify_cli/telemetry/cli.py
Due: flowspec-security-scan

fix: cross-platform line ending normalization in agent sync
  .specify/backups/test.py.20251215_002625.bak
  scripts/bash/sync-copilot-agents.sh
Due: none

feat(telemetry): complete telemetry integration (task-405) (#843)
  .github/agents/flow-implement.agent.md
  .github/agents/flow-validate.agent.md
  .github/agents/speckit-configure.agent.md
  .pre-commit-config.yaml
  backlog/tasks/task-204.01 - Create-git-hook-to-emit-events-on-backlog-task-file-changes.md
  backlog/tasks/task-328 - Design-Git-Hook-Integration-for-Agent-Sync.md
  backlog/tasks/task-334 - Create-pre-commit-hook-for-agent-sync.md
  backlog/tasks/task-366 - Telemetry-Role-Usage-Analytics-Framework.md
  backlog/tasks/task-403 - Telemetry-Core-telemetry-module-with-event-tracking.md
  backlog/tasks/task-404 - Telemetry-Configuration-system-with-opt-in-consent.md
  backlog/tasks/task-405 - Telemetry-Event-integration-with-role-system.md
  backlog/tasks/task-406 - Telemetry-CLI-feedback-prompt-with-privacy-notice.md
  backlog/tasks/task-407 - Telemetry-CLI-viewer-for-viewing-and-managing-telemetry-data.md
  backlog/tasks/task-408 - Telemetry-Privacy-utilities-for-PII-hashing-and-anonymization.md
  backlog/tasks/task-409 - Telemetry-Comprehensive-test-suite-and-privacy-verification.md
  backlog/tasks/task-473 - claude-improves-Enable-hooks-by-default-in-specify-init.md
  build-docs/design/git-hook-agent-sync-design.md
  docs/guides/backlog-git-hooks.md
  scripts/CLAUDE.md
  scripts/bash/pre-commit-agent-sync.sh
  scripts/hooks/install-hooks.sh
  scripts/hooks/post-commit-backlog-events.sh
  src/specify_cli/__init__.py
  src/specify_cli/hooks/scaffold.py
  src/specify_cli/telemetry/__init__.py
  src/specify_cli/telemetry/cli.py
  src/specify_cli/telemetry/config.py
  src/specify_cli/telemetry/events.py
  src/specify_cli/telemetry/integration.py
  src/specify_cli/telemetry/tracker.py
  src/specify_cli/telemetry/writer.py
  templates/commands/flow/implement.md
  templates/commands/flow/validate.md
  templates/commands/speckit/configure.md
  tests/integration/test_post_commit_backlog_events.sh
  tests/test_telemetry.py
  tests/test_telemetry_config.py
  tests/test_telemetry_integration.py
Due: sync-copilot-agents, flowspec-security-scan

chore: release v0.2.359 (#846)
  pyproject.toml
  src/specify_cli/__init__.py
Due: flowspec-security-scan

docs: add action-event-system tracking for @chamonix
  docs/features/action-event-system-tracking.md
Due: none

docs: add action-event-system tracking for @chamonix (#847)
  docs/features/action-event-system-tracking.md
Due: none

WIP: dev-setup-now
  .github/prompts/flowspec._backlog-instructions.prompt.md
  .github/prompts/flowspec._constitution-check.prompt.md
  .github/prompts/flowspec._workflow-state.prompt.md
  .github/prompts/flowspec.assess.prompt.md
  .github/prompts/flowspec.generate-prp.prompt.md
  .github/prompts/flowspec.implement.prompt.md
  .github/prompts/flowspec.init.prompt.md
  .github/prompts/flowspec.intake.prompt.md
  .github/prompts/flowspec.map-codebase.prompt.md
  .github/prompts/flowspec.operate.prompt.md
  .github/prompts/flowspec.plan.prompt.md
  .github/prompts/flowspec.research.prompt.md
  .github/prompts/flowspec.reset.prompt.md
  .github/prompts/flowspec.security_fix.prompt.md
  .github/prompts/flowspec.security_report.prompt.md
  .github/prompts/flowspec.security_triage.prompt.md
  .github/prompts/flowspec.security_web.prompt.md
  .github/prompts/flowspec.security_workflow.prompt.md
  .github/prompts/flowspec.specify.prompt.md
  .github/prompts/flowspec.validate.prompt.md
  .specify/backups/test.py.20251215_004726.bak
Due: none

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
