Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

.pre-commit-config.yaml:

# Pre-commit hook configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Local repository hooks
  - repo: local
    hooks:
      # Dev-setup validation
      # Validates that .claude/commands/ contains ONLY symlinks
      # pointing to templates/commands/ (single-source-of-truth)
      - id: dev-setup-validation
        name: Dev-setup validation
        entry: scripts/bash/pre-commit-dev-setup.sh
        language: script
        always_run: true
        pass_filenames: false
        description: Validate .claude/commands/ symlink structure

      # Sync Claude commands to Copilot agents
      # Auto-syncs .claude/commands/ to .github/agents/ when commands change
      - id: sync-copilot-agents
        name: Sync Copilot agents
        entry: scripts/bash/pre-commit-agent-sync.sh
        language: script
        files: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
        pass_filenames: false
        description: Auto-sync Claude commands to VS Code Copilot agents

      # Security scanning
      # Fast security scan on staged files before commit
      - id: flowspec-security-scan
        name: Flowspec Security Scan
        entry: scripts/bash/pre-commit-security-scan.sh
        language: script
        pass_filenames: false
        stages: [commit]
        files: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
        description: Fast security scan blocking critical vulnerabilities

  # Standard Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

chore: release v0.3.006
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix: Remove npm and copilot-cli to eliminate CVE-2025-64756 and CVE-2022-25883
  .devcontainer/Dockerfile
  DOCKER_SCOUT_POLICY.md
  vulnerability-tracking.jsonl
Due: none

fix(tests): update paths after user-guides -> guides rename
  src/flowspec_cli/__init__.py
  tests/skills/test_security_personas.py
  tests/test_spec_light_mode.py
  tests/test_workflow_customization_guide.py
Due: flowspec-security-scan

docs(prd-template): make examples section required
  backlog/tasks/task-498 - claude-improves-again-Require-examples-in-PRDs.md
  templates/commands/flow/specify.md
  templates/prd-template.md
Due: sync-copilot-agents

feat(implement): add PRP-first context loading
  templates/commands/flow/implement.md
  templates/docs/prp/README.md
Due: sync-copilot-agents

chore(backlog): mark task-493 acceptance criteria complete
  backlog/tasks/task-493 - claude-improves-again-Make-flow-implement-PRP-first.md
Due: none

feat(validate): extract and use Feature Validation Plan from PRD/PRP
  templates/commands/flow/validate.md
Due: sync-copilot-agents

chore: mark task-501 complete with implementation notes
  backlog/tasks/task-501 - claude-improves-again-Implement-gather-learnings-helper-skill.md
Due: none

chore: regenerate agent files after template update
  .github/agents/flow-specify.agent.md
Due: none

chore: regenerate agent files after template update
  .github/agents/flow-security_triage.agent.md
  .github/agents/flow-security_web.agent.md
Due: none

feat(skills): add gather-learnings helper skill (#906)
  .claude/skills/gather-learnings/SKILL.md
  backlog/tasks/task-501 - claude-improves-again-Implement-gather-learnings-helper-skill.md
  memory/learnings/example-skill-implementation.md
Due: none

fix: comprehensive rewrite of Phase 0.5 addressing all Copilot feedback
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix: address Copilot review - validate example references
  src/flowspec_cli/workflow/prd_validator.py
  templates/prd-template.md
  tests/test_prd_validator.py
Due: flowspec-security-scan

chore: regenerate agent files after template update
  .github/agents/flow-validate.agent.md
  backlog/tasks/task-497 - claude-improves-again-Enhance-flow-validate-with-Feature-Validation-Plan.md
Due: none

fix: address Copilot v5 review - path traversal and bash exec
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

test: add test for placeholder example references exclusion
  tests/test_prd_validator.py
Due: flowspec-security-scan

docs: update module docstring to include All Needed Context section
  src/flowspec_cli/workflow/prd_validator.py
Due: flowspec-security-scan

feat(rigor): add rigor rules infrastructure (task-541, task-542 partial)
  .claude/commands/flow/_rigor-rules.md
  .serena/.gitignore
  .serena/project.yml
  backlog/tasks/task-541 - Create-_rigor-rules.md-shared-include-file.md
  backlog/tasks/task-542 - Add-JSONL-decision-logging-infrastructure.md
  backlog/tasks/task-543 - Integrate-rigor-rules-into-flow-implement.md
  backlog/tasks/task-544 - Integrate-rigor-rules-into-flow-validate.md
  backlog/tasks/task-545 - Integrate-rigor-rules-into-flow-specify.md
  backlog/tasks/task-546 - Integrate-rigor-rules-into-flow-assess.md
  backlog/tasks/task-547 - Integrate-rigor-rules-into-flow-plan.md
  backlog/tasks/task-548 - Integrate-rigor-rules-into-flow-operate.md
  backlog/tasks/task-549 - Add-flow-freeze-command-for-task-suspension.md
  backlog/tasks/task-550 - Add-workflow-status-tracking-to-all-commands.md
  backlog/tasks/task-551 - Update-critical-rules.md-with-rigor-rules-reference.md
  backlog/tasks/task-552 - Create-rigor-rules-troubleshooting-guide.md
  build-docs/platform/rigor-rules-infrastructure-summary.md
  build-docs/platform/rigor-rules-infrastructure.md
  build-docs/platform/rigor-rules-quick-reference.md
  build-docs/task-rigor.md
  docs/adr/ADR-001-rigor-rules-include-pattern.md
  docs/adr/ADR-002-jsonl-decision-logging.md
  docs/adr/ADR-003-branch-naming-convention.md
  docs/adr/ADR-004-pr-iteration-pattern.md
  docs/architecture/RIGOR-RULES-DELIVERABLES-SUMMARY.md
  docs/architecture/rigor-rules-system-architecture.md
  docs/plan/rigor-rules-plan.md
  docs/prd/task-rigor-rules-integration.md
  memory/decisions/README.md
  memory/decisions/task-542.jsonl
  scripts/bash/rigor-decision-log.sh
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:validate (task-544)
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(rigor): escape INCLUDE examples to prevent circular references
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:implement (task-543)
  .github/agents/flow-implement.agent.md
  memory/decisions/task-543.jsonl
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/implement.md
Due: sync-copilot-agents

feat(rigor): integrate rigor rules into /flow:specify (task-545)
  .github/agents/flow-specify.agent.md
  memory/decisions/task-545.jsonl
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/specify.md
Due: sync-copilot-agents

fix(rigor-rules): address Copilot review comments
  .github/agents/flow-specify.agent.md
  templates/commands/flow/_rigor-rules.md
Due: sync-copilot-agents

fix(implement): address Copilot review comments
  .github/agents/flow-implement.agent.md
  templates/commands/flow/implement.md
Due: sync-copilot-agents

chore(agents): sync Copilot agents after implement.md changes
  .github/agents/flow-implement.agent.md
Due: none

fix(validate): address Copilot review comments
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

docs(prd-template): make examples section required
  .github/agents/flow-specify.agent.md
  backlog/tasks/task-498 - claude-improves-again-Require-examples-in-PRDs.md
  src/flowspec_cli/workflow/prd_validator.py
  templates/commands/flow/specify.md
  templates/prd-template.md
  tests/test_prd_validator.py
Due: sync-copilot-agents, flowspec-security-scan

feat(validate): extract and use Feature Validation Plan from PRD/PRP
  .github/agents/flow-validate.agent.md
  backlog/tasks/task-497 - claude-improves-again-Enhance-flow-validate-with-Feature-Validation-Plan.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

fix(rigor): address Copilot review feedback for validate.md (v3)
  .github/agents/flow-validate.agent.md
  templates/commands/flow/_rigor-rules.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents

docs(prd-template): make examples section required
  src/flowspec_cli/workflow/prd_validator.py
  tests/test_prd_validator.py
Due: flowspec-security-scan

fix(rigor): address 14 Copilot review comments for implement.md (v4)
  .github/agents/flow-implement.agent.md
  memory/decisions/task-543.jsonl
  templates/commands/flow/implement.md
Due: sync-copilot-agents

feat(validate): extract and use Feature Validation Plan from PRD/PRP
  .github/agents/flow-validate.agent.md
  templates/commands/flow/validate.md
Due: sync-copilot-agents
