Repository jpoley/jp-spec-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-copilot-agents, flowspec-security-scan

sync-copilot-agents:
  name: Sync Copilot agents
  entry: scripts/bash/pre-commit-agent-sync.sh
  language: script
  pass_filenames: false
  description: Auto-sync Claude commands to VS Code Copilot agents

flowspec-security-scan:
  name: Flowspec Security Scan
  entry: scripts/bash/pre-commit-security-scan.sh
  language: script
  pass_filenames: false
  stages:
  - commit
  description: Fast security scan blocking critical vulnerabilities

Update src/flowspec_cli/__init__.py
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

chore: release v0.3.009
  pyproject.toml
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

fix(release): copy include files instead of processing them
  .github/workflows/scripts/create-release-packages.sh
Due: none

fix(release): prevent SIGPIPE on large command files
  .github/workflows/scripts/create-release-packages.sh
Due: none

feat(logging): add centralized logging with dual-path support
  .claude/hooks/post-tool-use-task-memory-lifecycle.py
  .claude/hooks/session-start.sh
  docs/guides/logging.md
  scripts/release.py
  src/flowspec_cli/hooks/runner.py
  src/flowspec_cli/logging/__init__.py
  src/flowspec_cli/logging/cli.py
  src/flowspec_cli/logging/config.py
  src/flowspec_cli/logging/decision_logger.py
  src/flowspec_cli/logging/event_logger.py
  src/flowspec_cli/logging/schemas.py
  templates/logs/README.md
  templates/logs/decisions/.gitkeep
  templates/logs/events/.gitkeep
  tests/test_logging.py
Due: flowspec-security-scan

Update src/flowspec_cli/logging/cli.py
  src/flowspec_cli/logging/cli.py
Due: flowspec-security-scan

Update src/flowspec_cli/logging/event_logger.py
  src/flowspec_cli/logging/event_logger.py
Due: flowspec-security-scan

Update src/flowspec_cli/logging/decision_logger.py
  src/flowspec_cli/logging/decision_logger.py
Due: flowspec-security-scan

Update src/flowspec_cli/hooks/runner.py
  src/flowspec_cli/hooks/runner.py
Due: flowspec-security-scan

Update .claude/hooks/session-start.sh
  .claude/hooks/session-start.sh
Due: none

feat(logging): add centralized logging with dual-path support (#1052)
  .claude/hooks/post-tool-use-task-memory-lifecycle.py
  .claude/hooks/session-start.sh
  docs/guides/logging.md
  scripts/release.py
  src/flowspec_cli/hooks/runner.py
  src/flowspec_cli/logging/__init__.py
  src/flowspec_cli/logging/cli.py
  src/flowspec_cli/logging/config.py
  src/flowspec_cli/logging/decision_logger.py
  src/flowspec_cli/logging/event_logger.py
  src/flowspec_cli/logging/schemas.py
  templates/logs/README.md
  templates/logs/decisions/.gitkeep
  templates/logs/events/.gitkeep
  tests/test_logging.py
Due: flowspec-security-scan

feat: implement Level 2 logging system (TTY + Hooks)
  .claude/hooks/_wrapper.sh
  .claude/hooks/logging_helper.py
  .claude/hooks/permission-auto-approve.py
  .claude/hooks/pre-tool-use-git-safety.py
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitignore
  build-docs/logger-plan.md
  docs/logging.md
  package.json
  wrap.mjs
Due: flowspec-security-scan

docs: add Flowspec Logging vs Asciinema comparison
  build-docs/logging-vs-asciinema.md
Due: none

fix: correct deny pattern syntax in settings.json
  .claude/settings.json
Due: none

feat: implement 3-level logging system for Flowspec agents
  .claude/hooks/pre-tool-use-git-safety.py
  .claude/hooks/pre-tool-use-sensitive-files.py
  .claude/hooks/run-hook.sh
  .claude/settings.json
  .devcontainer/devcontainer.json
  .devcontainer/install-netlog.sh
  .devcontainer/post-start-netlog.sh
  .gitignore
  build-docs/level3-implementation-summary.md
  build-docs/level3-quickstart.md
  build-docs/logger-plan.md
  docs/building/hook-fix-2025-12-25.md
  docs/building/logger-level3-toggle.md
  scripts/bash/build-netlog.sh
  scripts/bash/install-netlog.sh
  scripts/bash/test-netlog.sh
  utils/flowspec-netlog/README.md
  utils/flowspec-netlog/TEST-RESULTS.md
  utils/flowspec-netlog/go.mod
  utils/flowspec-netlog/magefile.go
  utils/flowspec-netlog/main.go
  utils/flowspec-netlog/proxy/cert.go
  utils/flowspec-netlog/proxy/logger.go
  utils/flowspec-netlog/proxy/proxy.go
Due: flowspec-security-scan

Update src/flowspec_cli/skills/scaffold.py
  src/flowspec_cli/skills/scaffold.py
Due: flowspec-security-scan

fix: address Copilot review feedback for skills deployment (#1055)
  src/flowspec_cli/__init__.py
  src/flowspec_cli/skills/scaffold.py
  tests/test_skills_deployment.py
Due: flowspec-security-scan

fix: Level 3 network logging - all Copilot issues resolved (#1058)
  .claude/hooks/_wrapper.sh
  .claude/hooks/logging_helper.py
  .claude/hooks/permission-auto-approve.py
  .claude/hooks/pre-tool-use-git-safety.py
  .claude/hooks/pre-tool-use-sensitive-files.py
  .claude/hooks/run-hook.sh
  .claude/settings.json
  .devcontainer/devcontainer.json
  .devcontainer/install-netlog.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start-netlog.sh
  .gitignore
  build-docs/level3-implementation-summary.md
  build-docs/level3-quickstart.md
  build-docs/logger-plan.md
  build-docs/logging-vs-asciinema.md
  docs/building/hook-fix-2025-12-25.md
  docs/building/logger-level3-toggle.md
  docs/logging.md
  package.json
  scripts/bash/build-netlog.sh
  scripts/bash/install-netlog.sh
  scripts/bash/test-netlog.sh
  utils/flowspec-netlog/README.md
  utils/flowspec-netlog/TEST-RESULTS.md
  utils/flowspec-netlog/go.mod
  utils/flowspec-netlog/magefile.go
  utils/flowspec-netlog/main.go
  utils/flowspec-netlog/proxy/cert.go
  utils/flowspec-netlog/proxy/logger.go
  utils/flowspec-netlog/proxy/proxy.go
  wrap.mjs
Due: flowspec-security-scan

chore: add .gitignore to flowspec-netlog to exclude dev artifacts
  utils/flowspec-netlog/.gitignore
Due: none

Update utils/flowspec-netlog/.gitignore
  utils/flowspec-netlog/.gitignore
Due: none

fix: address all 6 Copilot review comments from PR #1053
  src/flowspec_cli/__init__.py
  src/flowspec_cli/skills/scaffold.py
  tests/test_skills_deployment.py
Due: flowspec-security-scan

feat: add meta-workflow simplification (research/build/run)
  docs/adr/003-meta-workflow-simplification.md
  docs/analysis-flowspec.md
  docs/cleaner-flow.png
  docs/guides/meta-workflow-migration.md
  docs/horrible-flow.png
  docs/objective.md
  docs/rules.md
  flowspec_workflow.yml
  src/flowspec_cli/workflow/meta_orchestrator.py
  templates/commands/flow/meta-build.md
  templates/commands/flow/meta-research.md
  templates/commands/flow/meta-run.md
Due: sync-copilot-agents, flowspec-security-scan

docs: add comprehensive meta-workflow documentation
  AUTONOMOUS-SESSION-COMPLETE.md
  docs/CLAUDE.md-UPDATE-META-WORKFLOWS.md
  docs/reference/meta-workflow-quick-reference.md
Due: none

docs: add autonomous session summary readme
  README-AUTONOMOUS-SESSION.md
Due: none

fix: add full backlog.md integration to meta-workflow templates
  templates/commands/flow/meta-build.md
  templates/commands/flow/meta-research.md
  templates/commands/flow/meta-run.md
Due: sync-copilot-agents

wow bad
  docs/DO-NOW.md
  docs/FAILURE-LEARNINGS.md
  docs/MISSION.md
  docs/iniital-analysis.md
  docs/junk-adr/bugs-now.md
  docs/junk-adr/feedback.md
Due: none

feat: add script to pull DHI images locally
  scripts/bash/pull-dhi-images.sh
Due: none

docs: add comprehensive autonomous session documentation
  AUTONOMOUS-SESSION-COMPLETE.md
  AUTONOMOUS-SESSION-SUMMARY.md
Due: none

docs: import planning docs from build-docs/simplify
  build-docs/simplify/DO-NOW.md
  build-docs/simplify/FAILURE-LEARNINGS.md
  build-docs/simplify/FLEXIBILITY-MODEL.md
  build-docs/simplify/Inner-Outer-Loop.md
  build-docs/simplify/MISSION.md
  build-docs/simplify/cleaner-flow.png
  build-docs/simplify/flowspec-loop.md
  build-docs/simplify/horrible-flow.png
  build-docs/simplify/iniital-analysis.md
  build-docs/simplify/objective.md
  build-docs/simplify/ouch.png
  build-docs/simplify/rules.md
Due: none

feat: add flexible orchestration infrastructure (~60% complete)
  build-docs/simplify/FAILURE-LEARNINGS.md
  build-docs/simplify/flowspec-loop.md
  build-docs/simplify/inner-loop.png
  build-docs/simplify/inner-outer-loop.png
  flowspec_workflow.yml
  schemas/flowspec_workflow.schema.json
  src/flowspec_cli/workflow/orchestrator.py
  src/flowspec_cli/workflow/rigor.py
  tests/workflow/test_orchestrator.py
Due: flowspec-security-scan

feat(devcontainer): add custom flowspec oh-my-posh theme
  .devcontainer/Dockerfile
  .devcontainer/flowspec.omp.json
Due: none

fix(devcontainer): fix copilot verification command
  .devcontainer/post-create.sh
Due: none

feat(devcontainer): mount gh config for CLI auth
  .devcontainer/devcontainer.json
Due: none

feat(phase-2): add CLI integration for /flow:custom command
  src/flowspec_cli/__init__.py
Due: flowspec-security-scan

feat(workflow): complete to 100% with auto-executor and demos
  .claude/skills/workflow-executor/SKILL.md
  .flowspec/logs/events/2025-12-27.jsonl
  build-docs/simplify/SESSION-100PCT-COMPLETE.md
  scripts/demo-conditional-workflow.py
  scripts/demo-workflow-execution.py
Due: flowspec-security-scan

docs: add personal verification checklist
  VERIFY-COMPLETE.md
Due: none

feat: complete custom workflow orchestration to 90% (A-)
  .flowspec/logs/events/2025-12-27.jsonl
  RELEASE-ASSESSMENT.md
  VALIDATION-SUMMARY.md
  VERIFY-COMPLETE.md
  backlog/tasks/task-573 - Implement-execute-flag-with-real-Skill-tool-execution.md
  backlog/tasks/task-574 - Implement-task-flag-with-MCP-backlog-integration.md
  backlog/tasks/task-575 - Wire-execute-flag-through-CLI-to-executor.md
  backlog/tasks/task-576 - Make-all-user-journey-tests-pass.md
  backlog/tasks/task-577 - Document-actual-completion-percentage-and-customer-value.md
  backlog/tasks/task-578 - TEST-Workflow-execution-MCP-integration-test.md
  docs/whats-new.md
  scripts/demo-agent-workflow-execution.py
  scripts/demo-conditional-workflow.py
  scripts/demo-workflow-execution.py
  scripts/e2e-workflow-with-mcp.py
  scripts/quick-journey-test.sh
  src/flowspec_cli/__init__.py
  src/flowspec_cli/backlog/mcp_client.py
  src/flowspec_cli/workflow/agent_executor.py
  src/flowspec_cli/workflow/dispatcher.py
  src/flowspec_cli/workflow/executor.py
  src/flowspec_cli/workflow/orchestrator.py
  tests/backlog/test_mcp_client.py
  tests/journey/test_user_journeys.py
  tests/workflow/test_dispatcher.py
  tests/workflow/test_orchestrator.py
Due: flowspec-security-scan

feat(workflow): complete custom workflow command execution
  .flowspec/logs/events/2025-12-27.jsonl
  build-docs/simplify/SESSION-FINAL-20251227.md
  src/flowspec_cli/__init__.py
  src/flowspec_cli/workflow/orchestrator.py
  templates/commands/flow/custom.md
Due: sync-copilot-agents, flowspec-security-scan

Path conditions:
  sync-copilot-agents: any of: ^\.claude/commands/.*\.md$|^templates/commands/.*\.md$
  flowspec-security-scan: any of: \.(py|js|ts|tsx|jsx|go|rs|java|rb|php)$
